
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>
<p>
    The Emergency Manual Team is developing a solution with both a mobile app and
    website to allow EMTs and paramedics to quickly navigate a digital protocol handbook as well as store treatment logs during responses. The protocol data will be uploaded and maintained by the Mountain West Ambulance service administrators through the web portal.  The goal of our design is minimal interaction. The emergency responder environment requires an easy and intuitive UI, allowing access to the data with no issues and keeping users’ focus on the patient and not the system.
</p>

