
@{
    ViewData["Title"] = "AboutUs";
}
    <div>
        <div class="col-12">
            <p>
                The Emergency Manual Team is developing a mobile solution that provides EMTs with quick navigation of their protocol handbook and patient care logging functionality while in the field. 
                The protocol data will be uploaded and maintained by the Mountain West Ambulance service administrators through the web portal.
                The goal of our design is minimal user interaction.
                The emergency responder environment requires an easy and intuitive UI, allowing access to the data with no issues and keeping users’ focus on the patient and not the system.
            </p>
        </div>
        <div class="col-12">
            <div id="aboutUsCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="..." class="d-block w-100" alt="Team Logo">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>


