<!--
 Author: Vincent Futrell
 Date Last Modified: 11/26/2021
    This file contains the HTMl for the Protocols Create page
-->
@model EMT_WebPortal.Models.Protocol
@{
    ViewData["Title"] = "Create";
}

@section Head {
    <script type="text/javascript">
        tinymce.init({ selector: '#OtherInformationArea' });
        tinymce.init({ selector: '#TreatmentPlanArea' });
    </script>
    <link rel="stylesheet" href="~/css/vf-multiselect.css" />
}

<h1>Create New Protocol</h1>
<hr />
<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row field-row">
            <div class="col-6">
                <label asp-for="Name" class="control-label"></label>
                <input id="Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Certification" class="control-label"></label>
                <select id="Certification" asp-for="Certification" class="form-control" asp-items="Html.GetEnumSelectList<Certifications>()"></select>
            </div>
            <div class="col-3">
                <label asp-for="PatientType" class="control-label"></label>
                <select id="PatientType" asp-for="PatientType" class="form-control" asp-items="Html.GetEnumSelectList<PatientTypes>()"></select>
            </div>
        </div>

        <div class="row field-row">
            <div class="form-group col-12">
                <label asp-for="OtherInformation" class="control-label"></label>
                <textarea id="OtherInformationArea" asp-for="OtherInformation" class="form-control block-display"></textarea>
                <span asp-validation-for="OtherInformation" class="text-danger"></span>
            </div>
        </div>
        <div class="row field-row">
            <div class="form-group col-12">
                <label asp-for="TreatmentPlan" class="control-label"></label>
                <textarea id="TreatmentPlanArea" asp-for="TreatmentPlan" class="form-control block-display"></textarea>
                <span asp-validation-for="TreatmentPlan" class="text-danger"></span>
            </div>
        </div>

        <div class="row medication-row">
            <div class="form-group form-check col-3">
                <label class="form-check-label">
                    <input style="border: 1px solid lightgray;" id="hasMedicationInput" type="checkbox" asp-for="HasAssociatedMedication" /> Has Medications
                </label>
            </div>
            <div id="MedicationsSelect" style="display:none" class="form-group col-9" onsubmit="getSelectedMedications()">
                <div class="container">
                    <div class="row vf-multiselect-container">
                        <input id="medication_input" class="vf-multiselect-input flex" placeholder="Type to search..." onkeydown="vf_multiselect_search()" />
                        <input class="vf-multiselect-dropdown " type="image" src="~/Images/dropdown-menu-icon-down.png" onclick="vf_multiselect_dropclick();return false;" />
                    </div>
                </div>
                <div class="vf-option-list" id="optionList">

                </div>
            </div>
        </div>

        <div class="row field-row">
            <div class="col-6 form-group">
                <label asp-for="Guideline" class="control-label"></label>
                <select id="Guideline" asp-for="Guideline" class="form-control" asp-items="ViewBag.GuidelineNames"></select>
                <span asp-validation-for="Guideline" class="text-danger"></span>
            </div>
            <div class="col-6 form-group form-check">
                <label class="form-check-label">
                    <input id="OLMC" class="form-check-input" asp-for="OLMCRequired" /> @Html.DisplayNameFor(model => model.OLMCRequired)
                </label>
            </div>
        </div>

        <div class="row" style="justify-content:left">
            <div class="col-2">
                <input style="width:100%" type="submit" value="Create" class="btn btn-success" onclick="submitSelectedMedications()" />
            </div>
            <div class="col-2">
                <input style="width:100%" type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Protocols")'" />
            </div>
        </div>
    </form>

</div>

<script type="text/javascript" src="~/js/ProtocolCreate.js"></script>
<script type="text/javascript" src="~/js/multiselect.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
