@model EMT_WebPortal.Models.Protocol

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Protocol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certification" class="control-label"></label>
                <select asp-for="Certification" class="form-control" asp-items="Html.GetEnumSelectList<Certifications>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="PatientType" class="control-label"></label>
                <select asp-for="PatientType" class="form-control" asp-items="Html.GetEnumSelectList<PatientTypes>()"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAssociatedMedication" /> @Html.DisplayNameFor(model => model.HasAssociatedMedication)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OtherInformation" class="control-label"></label>
                <textarea rows="10" cols="250" style="width:600px;" asp-for="OtherInformation" class="form-control block-display"></textarea>
                <span asp-validation-for="OtherInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentPlan" class="control-label"></label>
                <textarea rows="10" cols="250" style="width:600px;" asp-for="TreatmentPlan" class="form-control block-display"></textarea>
                <span asp-validation-for="TreatmentPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuidelineId" class="control-label"></label>
                <select asp-for="GuidelineId" class="form-control" asp-items="ViewBag.GuidelineId"></select>
                <span asp-validation-for="GuidelineId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OLMCRequired" /> @Html.DisplayNameFor(model => model.OLMCRequired)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
