@model EMT_WebPortal.Models.Protocol

@{
    ViewData["Title"] = "Edit";
}
<script type="text/javascript">
    tinymce.init({ selector: '#OtherInformationArea' });
    tinymce.init({ selector: '#TreatmentPlanArea' });
</script>
<link rel="stylesheet" href="~/css/vf-multiselect.css" />
@foreach (int i in ViewBag.MedicationIds)
{
    <p style="display:none;" class="vf-medId">@i</p>
}
<h4>Edit Protocol</h4>
<hr />
<div>
    <div class="container">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row field-row">
                <div class="col-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Certification" class="control-label"></label>
                    <select asp-for="Certification" class="form-control" asp-items="Html.GetEnumSelectList<Certifications>()"></select>
                </div>
                <div class="col-3">
                    <label asp-for="PatientType" class="control-label"></label>
                    <select asp-for="PatientType" class="form-control" asp-items="Html.GetEnumSelectList<PatientTypes>()"></select>
                </div>
            </div>

            <div class="row field-row">
                <div class="col-12">
                    <label asp-for="OtherInformation" class="control-label row"></label>
                    <input id="OtherInformationArea" asp-for="OtherInformation" class="form-control row" />
                    <span asp-validation-for="OtherInformation" class="text-danger row"></span>
                </div>
            </div>
            <div class="row field-row">
                <div class="col-12">
                    <label asp-for="TreatmentPlan" class="row"></label>
                    <input id="TreatmentPlanArea" asp-for="TreatmentPlan" class="row" />
                    <span asp-validation-for="TreatmentPlan" class="text-danger row"></span>
                </div>
            </div>

            <div class="row medication-row">
                <div class="form-group form-check col-3">
                    <label class="form-check-label">
                        <input style="border: 1px solid lightgray;" id="hasMedicationInput" type="checkbox" asp-for="HasAssociatedMedication" /> Has Medications
                    </label>
                </div>
                <div id="MedicationsSelect" style="display:none" class="form-group col-9" onsubmit="getSelectedMedications()">
                    <div class="container">
                        <div class="row vf-multiselect-container">
                            <input id="medication_input" class="vf-multiselect-input flex" placeholder="Type to search..." onkeydown="vf_multiselect_search()" />
                            <input class="vf-multiselect-dropdown " type="image" src="~/Images/dropdown-menu-icon-down.png" onclick="vf_multiselect_dropclick();return false;" />
                        </div>
                    </div>
                    <div class="vf-option-list" id="optionList">

                    </div>
                </div>
            </div>

            <div class="row field-row">
                <div class="form-group col-6">
                    <label asp-for="Guideline" class="control-label"></label>
                    <select asp-for="Guideline" class="form-control" asp-items="ViewBag.GuidelineId"></select>
                    <span asp-validation-for="Guideline" class="text-danger"></span>
                </div>
                <div class="form-group form-check col-6 olmc-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="OLMCRequired" /> @Html.DisplayNameFor(model => model.OLMCRequired)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="submitSelectedMedications()" />
            </div>
            <div>
                <input type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Protocols")'" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="~/js/ProtocolCreate.js"></script>
<script type="text/javascript" src="~/js/multiselect.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
