<!--
 Author: Vincent Futrell
 Date Last Modified: 11/26/2021
    This file contains the HTMl for the Protocols Index page
-->
@section Head{ 
    <link rel="stylesheet" type="text/css" href="~/css/cardTable.css"/>
    <script type="module" src="~/js/CardTable/CardTable.js"></script>
}

<h1>Protocols</h1>
<card-table></card-table>


