@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Protocol Handbook Web Portal</h1>
    <p>How to use:</p>
    <p>In order to gain access to the site you will need to login. If you do not have an account contact the Web Master.</p>
    <p>Once you are signed in you can access all handbook components via the links in the nav bar.</p>
    <p>If you have administrator priviliges you will see create, edit, and delete links you can use to alter entries.</p>
</div>
