@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Protocol Handbook Web Portal</h1>
        <h2>Please login to use this web portal</h2>
        <p>
            This site is used by the administrator's of the Mountain West Ambulance of Tooele County to
            maintain the digital handbook for the EMT Manual app.
        </p>
    </div>
