@model EMT_WebPortal.Models.Chart

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Chart</h1>

@using (Html.BeginForm("Create", "Charts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="fileName">File Name</label>
    <input type="text" name="Name" id="fileName" required/>
    <br />
    <br />
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" accept="image/png, image/jpeg" />
    <br />
    <br />
    <label for="quicklink">Is this a quick link image?</label>
    <input type="checkbox" name="IsQuickLink" id="quicklink" value="true" />
    <br />
    <br />
    <div class="form-group">
        <label asp-for="Protocol" class="control-label"></label>
        <select asp-for="Protocol" class="form-control" asp-items="ViewBag.ProtocolNames"></select>
    </div>
    <button type="submit" class="btn btn-outline-success" button>Upload Image</button>
    <br />
    <br />
    @ViewBag.Message
}
<script type="text/javascript" src="~/js/ChartCreate.js"></script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
