    @model EMT_WebPortal.Models.Chart

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chart</h4>
@using (Html.BeginForm("Create", "Charts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="fileName">File Name</label>
    <input type="text" name="Name" id="fileName" required/>
    <br />
    <br />
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" accept="image/png, image/jpeg" />
    <br />
    <br />
    <label for="quicklink">Do you want this chart to appear in quicklinks?</label>
    <input type="checkbox" name="IsQuickLink" id="quicklink" value="true" />
    <br />
    <br />
    <input type="submit" value="Upload Image" />
    <br />
    <br />
    @ViewBag.Message
}
<script type="text/javascript" src="~/js/ChartCreate.js"></script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
