/*
    Author: Vincent Futrell
    Date Last Modified: 11/13/2021
    Style sheet for the protocol cards
*/

/*
    Every card consists of two parts: the card label and the tab container.
    Every tab container can contain upto 3 tabs
    Each tab consists of: a tab label and the button container
    Each button container will contain 3 buttons: Details, Edit, and Delete
*/
.protocol-card {
    background-color: whitesmoke;
    margin: 15px 15px 15px 15px;
    padding: 7px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

.procard-card-label{
    background-color: white;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
}

.procard-tab-container{
    padding: 5px;
    display:inline-flex;
    border-radius: 15px;
    border: 2px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: whitesmoke;
}

.procard-button-container {
    background-color: whitesmoke;
    display: inline-flex;
    justify-content:center;
    margin: 0px;
    padding: 5px;
    border-radius: 15px;
}

.procard-button{
    margin: 2px;
}



/*Below are the class styles for the four types of tab labels*/
.procard-tab-label-ALL {
    background-color: yellow;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
}

.procard-tab-label-EMT {
    background-color: darkblue;
    color: white;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
}

.procard-tab-label-AEMT {
    background-color: green;
    color: white;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
}

.procard-tab-label-PARA {
    background-color: red;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
}
