/*
    Style sheet for the vf-multiselect dropdown list 
    for ASP.NET core MVC
    Author: Vincent Garrett Futrell
    Last Modified: 11/9/2021
*/
.vf-multiselect-container{
    display: inline-flex;
    outline: 1px solid lightgrey;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
}

.vf-multiselect-input{
    display:inline-flex;
    border: none;
    height: 30px;
    width: 95%;
}

.vf-multiselect-dropdown{
    order:2;
    height: 30px;
    width: 5%;
    max-width: 80px;
}

.vf-option-container{
    display: inline;
    border: 1px solid lightgray;
    padding: 2px;
}

.vf-option-box{
    padding-right: 20px;
}

.vf-option-list{
    display:none;
    padding:2px;
    border: 1px solid lightgray;
    max-height:400px;
    width: 100%;
    overflow:scroll;
    z-index: 1;
}

.vf-medId{
    display:none;
}
